#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= '/about') About
  #main
    h2 User Groups
    ul
      - for (var continent in groups)
        li= continent
          ul
            - for (var country in groups[continent])
              li= country
                ul
                  - for (var state in groups[continent][country])
                    - if(state == 'no-state')
                      - for (var i = 0; i < groups[continent][country][state].length; i++)
                        li!= groups[continent][country][state][i]
                    - else 
                      li= state
                        ul
                          - for (var i = 0; i < groups[continent][country][state].length; i++)
                            li!= groups[continent][country][state][i]
