#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= 'http://beerjs.com/') BeerJS
      li
        a(href= '/about') About
  #main
    h2 JavaScript User Groups & Conferences
    #map_canvas
    ul.tabs
      li
        a(href= '#groups') Groups
      li
        a(href= '#upcoming') Conferences
    .tab_container
      #groups.tab_content
        ul
          - for (var continent in groups)
            li= continent
              ul
                - for (var countryName in groups[continent])
                  - var country = groups[continent][countryName]
                  li= countryName
                    ul
                      - for (var state in country)
                        - if(state == 'no-state')
                          - for (var i = 0; i < country[state].length; i++)
                            li!= country[state][i]
                        - else 
                          li= state
                            ul
                              - for (var i = 0; i < country[state].length; i++)
                                li!= country[state][i]
      #upcoming.tab_content
        ul
          - for (var countryName in conferences['Conference'])
            - var country = conferences['Conference'][countryName]
            li= countryName
              ul
                - for (var state in country)
                  - if(state == 'no-state')
                    - for (var i = 0; i < country[state].length; i++)
                      li!= country[state][i]
                  - else 
                    li= state
                      ul
                        - for (var i = 0; i < country[state].length; i++)
                          li!= country[state][i]
      #passed.tab_content
        This is the content of passed
    #footer
      | Want to add/change a group?
      a(href="https://groups.google.com/group/communityjs/") Let us know!