#container
  #header
    h1 CommunityJS.org
  #nav
    ul
      li 
        a(href= '/') User Groups
      li
        a(href= '/about') About
  #main
    h2 JavaScript User Groups
    #map_canvas
    ul
      - for (var continent in tree)
        li= continent
          ul
            - for (var country in tree[continent])
              li= country
                ul
                  - for (var state in tree[continent][country])
                    - if(state == 'no-state')
                      - for (var i = 0; i < tree[continent][country][state].length; i++)
                        li!= tree[continent][country][state][i]
                    - else 
                      li= state
                        ul
                          - for (var i = 0; i < tree[continent][country][state].length; i++)
                            li!= tree[continent][country][state][i]
    #footer 
    | Want to add/change a group?
    a(href="http://groups.google.com/communityjs") Let us know!